@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Kaushan+Script&display=swap');

.container {
    text-align: center;
    font-family: 'Bai Jamjuree', cursive;
    color: hsl(210, 10%, 33%);
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 90px;
}

.background {
    height: 60px;
    width: 10px;
}

.logo {
    padding-bottom: 10px;
}

.button {
    height: 50px;
    padding-bottom: 100px;
}

button {
    margin-left: 10px;
    height: 50px;
    width: 180px;
    font-size: medium;
    border-radius: 40px;
    border: none;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.301);

}

button.ios {
    background-color: hsl(171, 66%, 44%);
    color: aliceblue;
}

button.ios:hover{
    background-color: hsl(171, 70%, 30%);
    color: aliceblue;
    cursor: pointer;
}

button.mac{
    background-color: hsl(233, 100%, 69%);
    color: aliceblue;
    
}

button.mac:hover{
    background-color: rgb(17, 30, 109);
    color: aliceblue;
    cursor: pointer;
}

.computer-img{
    display: flex;
    align-items: flex-start;
    gap: 80px;
    height: auto;
    width: auto;
}

img#computer {
    width: 50%;

}

div.middle-text {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

section.middle {
    padding-bottom: 40px;
}

div.semi-middle {
    padding-bottom: 40px;
}

div.computer-img {
    padding-bottom: 40px;
}

div.middle-text-2 {
    text-align: center;
    padding-bottom: 40px;
}

div.middle-text-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

}

div.middle-texts-3 {

    flex: 1 1 150px;
}

#second-image {
    width: 50%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

}

.img {
    flex: 1 1 150px;
    width: 150px;
    height: 150px;
}

img.imgsize {
    height: auto;
    width: auto;
    max-width: 70%;
}

.download-2 {
    padding-bottom: 40px;

}

footer {
    color: aqua;
    border: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 0%;

}

.row-footer h4:hover {
    color: rgb(133, 131, 131);
    cursor: pointer;
}

.icons img:hover {
    filter: contrast(0);
}

.container-footer {
    padding: 0;
    margin: 0;

}

.row-footer {
    color: aquamarine;
    display: flex;
    justify-content: center;
    flex: 1 1 150px;

}

.logo-footer {
    display: flex;
    align-items: center;
    padding-right: 150px;

}

.icons {
    width: 80px;
    display: flex;
    padding: 2px;
    flex: 1 1 1px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

.footer-col {
    flex: 1 1 100px;
    width: 80px;
    padding: 15px;
}

.footer-col h4 {
    color: hsl(171, 66%, 44%);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

a {
    color: hsl(171, 66%, 44%);
    text-decoration: none;
}

a:hover {
    color: grey;
}

.footer-col ul {
    margin: 10px 0;
    text-align: left;
}